<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Data Report PDF</h1>
    <table>
        <tr>
            <th>No</th>
            <th>Nama Barang</th>
            <th>Jumlah</th>
            <th>Harga Satuan</th>
            <th>Expires</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Barang 1</td>
            <td>1</td>
            <td>1000</td>
            <td>23-02-2025</td>
        </tr>
    </table>
</body>
</html>