<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Data Report PDF</h1>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Nama Barang</th>
            <th>Jumlah</th>
            <th>Harga Satuan</th>
            <th>Expires</th>
        </tr>
        {{#each barangs}}
        <tr>
            <td>{{this.no}}</td>
            <td>{{this.name}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.harga}}</td>
            <td>{{this.exp}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>