<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate PDF file</title>
</head>
<body>
  <h1>Generate PDF File</h1>
  <nav>
    <ul>
      <li><a href="/basic">Basic Generate</a></li>
      <li><a href="/custom">Custon Input</a></li>
    </ul>
  </nav>
</body>
</html>